 @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
body {
    background-color: #fbf0d2;
    margin: auto;
    text-align: center;
    
}

h1 {
    font-family: 'Dancing Script', cursive;
    color: #bc565b;
}
h1:hover {
    color: #f79893;
}
.intro {
    border-radius: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding-top: 20px;
}
p {
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
}
.card {
    border: 4px solid #0a6462;
    margin: 40px;
    background-color: #b0dab6;
}



