 @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
body {
    background-color: #fbf0d2;
    margin: auto;
    text-align: center;
    
}

h1 {
    font-family: 'Dancing Script', cursive;
    color: #bc565b;
}
h1:hover {
    color: #f79893;
}
.intro {
    border-radius: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding-top: 20px;
}
* {
    box-sizing: border-box;
}
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

p {
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
}
.card {
    border: 4px solid #0a6462;
    margin: 40px;
    background-color: #b0dab6;
}
button {
    background-color: #f79893;
    font-color: #0a6462;
}
button:hover {
    background-color: #ffc8c4;
    font-style: italic;
}
.resize {
    width: 150px;
    height: auto;
    margin-left: 46%;
    margin-right: 48%;
    cursor: move;

}









